.git
.venv
.venv-dbt
.venv-airflow
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
data/bronze/
data/silver/
data/quality/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
dbt/air_quality_project/logs/
dbt/air_quality_project/target/
airflow/logs/
