# Docker Compose / Airflow
AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=global-city-air-quality-observatory-airflow:local
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Project runtime configuration
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcs-bucket-name
BIGQUERY_DATASET_ID=air_quality_dw

# Use an absolute path on the host machine
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/your-gcp-key.json
