PROJECT_ID=your-gcp-project-id
GCP_REGION=europe-west2
GCS_BUCKET=global-city-air-quality-observatory-yourname
BIGQUERY_DATASET=air_quality_dw
BIGQUERY_LOCATION=EU
BIGQUERY_FACT_TABLE=fct_air_quality_measurements
BIGQUERY_STAGING_TABLE=silver_air_quality_measurements_staging
DBT_TARGET=dev
AIRFLOW_HOME=./.airflow
JAVA_HOME=/path/to/java-17
SPARK_LOCAL_IP=127.0.0.1
