air_quality_project:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: oauth
      project: "{{ env_var('PROJECT_ID', 'your-gcp-project-id') }}"
      dataset: "{{ env_var('DBT_DATASET', 'air_quality_dbt') }}"
      location: "{{ env_var('BIGQUERY_LOCATION', 'EU') }}"
      threads: 4
      job_execution_timeout_seconds: 300
      job_retries: 1
