project_id          = "your-gcp-project-id"
region              = "europe-west2"
gcs_bucket_name     = "global-city-air-quality-observatory-yourname"
bucket_location     = "EU"
bigquery_dataset_id = "air_quality_dw"
bigquery_location   = "EU"
fact_table_id       = "fct_air_quality_measurements"
city_dim_table_id   = "dim_city"
pollutant_dim_table_id = "dim_pollutant"
